@import '../../shared/styles/global.css';
/* CENTER */
.layout.center {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

/* CARD */
.player-card {
  position: relative;
  width: 800px;
  height: 380px;

  border-radius: 16px;
  overflow: hidden;

  border: 1px solid #c89b3c;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);

  transition: transform 0.3s ease;
}

.player-card:hover {
  transform: scale(1.02);
}

/* SPLASH */
.splash {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: scale(1.05);
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px;

  background: linear-gradient(
    to right,
    rgba(10, 10, 10, 0.9) 0%,
    rgba(10, 10, 10, 0.7) 40%,
    rgba(10, 10, 10, 0.2) 70%,
    rgba(10, 10, 10, 0) 100%
  );
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #c89b3c;
  box-shadow: 0 0 20px #c89b3c;
}

/* INFO */
.info h2 {
  margin: 0;
  font-size: 22px;
}

.champ {
  color: #ccc;
  margin-bottom: 5px;
}

.kda {
  font-size: 18px;
  font-weight: bold;
}

.ratio {
  font-size: 14px;
  color: #aaa;
}

/* RIGHT */
.right {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* WIN/LOSE BADGE */
.badge {
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}

.win {
  background: rgba(76, 175, 80, 0.2);
  color: #4caf50;
}

.lose {
  background: rgba(244, 67, 54, 0.2);
  color: #f44336;
}

/* STATS */
.stats p {
  margin: 2px 0;
  font-size: 15px;
}

/* RESULT spacing */
.result {
  margin-top: 25px;
}
