<div class="app">
  <div class="layout center">
    <div class="card search-card">
      <h1>League Tracker</h1>

      <!-- SEARCH -->
      <div class="search-box">
        <input [ngModel]="name()" (ngModelChange)="name.set($event)" placeholder="Game Name" />

        <input [ngModel]="tag()" (ngModelChange)="tag.set($event)" placeholder="Tag (EUW...)" />

        <button (click)="search()">Search</button>
      </div>

      <!-- LOADING -->
      <div *ngIf="loading()" class="center-block">
        <div class="spinner"></div>
        <p>Loading...</p>
      </div>

      <!-- ERROR -->
      <div *ngIf="!loading() && error()" class="center-block">
        <p class="error">{{ error() }}</p>
      </div>

      <div *ngIf="!loading() && result() as result" class="result">
        <div class="player-card">
          <!-- SPLASH -->
          <img class="splash" [src]="result.championSplashArt" />

          <!-- OVERLAY -->
          <div class="overlay">
            <!-- LEFT -->
            <div class="left">
              <img class="icon" [src]="result.championIcon" />

              <div class="info">
                <h2>{{ result.name }}</h2>
                <p class="champ">{{ result.champion }}</p>

                <p class="kda">
                  {{ result.kills }} / {{ result.deaths }} / {{ result.assists }}
                  <span class="ratio">({{ result.kdaRatio | number: '1.1-1' }})</span>
                </p>
              </div>
            </div>

            <!-- RIGHT -->
            <div class="right">
              <div class="badge" [ngClass]="result.win ? 'win' : 'lose'">
                {{ result.win ? 'Victory' : 'Defeat' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
