@import '../../shared/styles/_layout.css';
@import '../../shared/styles/_typography.css';

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.search-box input {
  flex: 1;
  max-width: 200px;
}

.result-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 12px;
  overflow: hidden;

  border: 1px solid #c89b3c;
  background: rgba(10, 20, 40, 0.95);

  box-shadow:
    0 0 20px rgba(200, 155, 60, 0.2),
    inset 0 0 10px rgba(200, 155, 60, 0.1);
}

.left {
  width: 15%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  z-index: 2;
}

.right {
  width: 85%;
}

.splash {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.champion-icon {
  width: 80px;
  height: 80px;

  border-radius: 50%;
  border: 2px solid #c89b3c;

  box-shadow: 0 0 10px #c89b3c;

  object-fit: cover;

  display: block;
  margin: 0 auto 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info p {
  margin: 3px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #f0e6d2;
  text-shadow: 0 0 5px rgba(200, 155, 60, 0.4);
}
.champ {
  font-size: 14px;
  color: #c89b3c;
  letter-spacing: 1px;
}
.kda {
  font-size: 18px;
  font-weight: bold;
}
.ratio {
  font-size: 13px;
  color: #aaa;
}

.win {
  color: #4caf50;
  font-weight: bold;
}

.lose {
  color: #f44336;
  font-weight: bold;
}
