<nav class="navbar">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Home </a>

  <a *ngIf="authState.isLoggedIn()" routerLink="/friends" routerLinkActive="active"> Friends </a>

  <a *ngIf="!authState.isLoggedIn()" routerLink="/login" routerLinkActive="active"> Login </a>

  <a *ngIf="!authState.isLoggedIn()" routerLink="/register" routerLinkActive="active"> Register </a>

  <a *ngIf="authState.isLoggedIn()" (click)="logout()" style="cursor: pointer"> Logout </a>
</nav>
